[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/.tmux/plugins/tmuxifier"]
	path = tmux/.tmux/plugins/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/SuperXia123/neovim-config.git
